# Ignore SSH keys and secrets
*.pem
*.key
*.pub
*.crt
*.kubeconfig
*.retry

# Ignore Ansible temporary files
*.retry
*.log

# Ignore sensitive inventory files (optional, if you don’t want to expose)
#inventory/hosts.yml

